[submodule "GameServer"]
	path = GameServer
	url = https://github.com/amitswisa/CosmicRace-GameServer.git
[submodule "CosmicRaceWebServer"]
	path = CosmicRaceWebServer
	url = https://github.com/amitswisa/CosmicRaceServer.git
[submodule "CosmicRaceWeb"]
	path = CosmicRaceWeb
	url = https://github.com/amitswisa/CosmicRaceWeb.git